*.pyc
__pycache__
*~
.DS_Store
build/*
danata/version.py
examples/*/*.png
doc/source/danata-documentation.zip
doc/source/danata_reference.pdf
doc/source/danata_tutorial.pdf
doc/source/templates/gallery.html
doc/gh-pages
doc/build
.coverage
*.class

# Generated while building documentation.
doc/source/static/examples/*
doc/source/reference/generated/*
doc/source/examples/*

# Generated when 'python setup_egg.py'
danata.egg-info/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# IPython Notebook Checkpoints
.ipynb_checkpoints/

# Vim's swap files
*.sw[op]

#Spyder project file
.spyderproject

.cache
